version: '3'
services:
  medusa-storefront:
    container_name: medusa-storefront
    build:
      context: ./storefront
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_MEDUSA_BACKEND_URL: ${NEXT_PUBLIC_MEDUSA_BACKEND_URL}
    restart: always
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_MEDUSA_BACKEND_URL
